
p {
  color: blue;
  text-align: center;
}
.red {
  color: red;
}



/* Align and justify items in the grid to the center */
.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid 
}
.box{
    width: 250px;
    height: 150px;
    border: 1px solid red;
   justify-content: center;
}

