.card {
    display: flex;
    flex-direction: column;
    margin: 5px ;
    width: 20rem; 
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    margin-left: 50px ;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
 