@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.container{
    display:grid;
    grid-template-rows: 6em 600px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    border: 2px solid yellow;
    font-family: "Quicksand", sans-serif;
  }
  /* add css for nested grid here */
  .nestedGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  .nestedGrid > *{
    border: 2px solid aquamarine;
  }


  .nestedflexBox{
    display: flex;
    flex-flow: row wrap;
    grid-template-columns: 50% 50%;
    border: 2px solid green;
  }
  .nestedflexBox > *{
    border: 2px solid green;
  }

  .box{
      border: 1px solid red;
      background: #b6b6ad;
      }
    .header{
      /* row start/column start/ row end/ column end */
      grid-area:hd;
      /*background: #209403;*/
    }
    .footer{
      grid-area: ft;  
    }
    .sidebar{
      grid-area: sd;
    }
    .content{
      grid-area: main;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: clamp(20rem, calc(20rem + 2vw), 22rem);
        overflow: hidden;
        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        background: #ECE9E6;
      background: linear-gradient(to right, #FFFFFF, #ECE9E6);
      
      }


      .card__body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }
      
  /* If Screen Is Wide Enough */
  @media(min-width:900px) {
  .container{
        display:grid;
        grid-template-rows: 6em 600px;
        grid-template-areas: 
        "hd"
        "main"
        "ft";
        border: 2px solid red;
    }
  }