@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("blogPost.css");
@import url("navigation_menu.css");
@import url("additions.css");


.container{
    display:grid;
    grid-template-rows: 6em 2000px; /*===== TODO==== Try to make it more flexible the pixels*/
    /* grid-template-columns: repeat(3, 1fr); */
    /* Initially each element has its own row for small screens */
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    /*border: 2px solid yellow;*/
    font-family: "Quicksand", sans-serif;
  }
 

  

    .box{
        /*border: 1px solid red;*/
        background: #adbdd1ea;
        }
    .header{
      /* row start/column start/ row end/ column end */
      grid-area:hd;
      color: rgb(230, 230, 230);
      background: #142b01ea;
      /*background: #209403;*/
    }
    .footer{
      grid-area: ft;  
      color: rgb(230, 230, 230);
      background: #142b01ea;
    }

    .content{
      grid-area: main;
    }
    .nestedGrid{
      display: grid;
      margin: 10px ;
      grid-template-rows: repeat(4, 1fr);
      align-items: center;
      justify-content: center;
      place-items: center;
    }
    .nestedGrid > *{
      /*border: 2px solid aquamarine;*/
      justify-content: space-between;
    }
  
  
    
      .flexbox_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        /*border: 2px solid blueviolet;*/
        
      }
      .flexbox_header > *{
       /* border: 2px solid green;*/
      }

      .flexbox_footer{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        /*border: 2px solid blueviolet;*/
      }
      .flexbox_footer > *{
        /*border: 2px solid green;*/
      }

      .logo {
        float: left;
        
        gap: 0.5rem;
    }
    .nav_men {
        float: right;
        display: flex;
        padding: 1rem;
        gap: 0.5rem;
    
    }
    
    .nav_butt {
      
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 5rem;
    }

  
    /* If Screen Is Wide Enough */
  @media(min-width:900px) {
  .container{
        display:grid;
        grid-template-rows: 6em 1300px;
        grid-template-areas: 
        "hd"
        "main"
        "ft";
        /*border: 2px solid rosybrown;*/
    }

    .card {
      display: flex;
      flex-direction: row;
      margin: 10px ;
      width: 80rem; 
      overflow: hidden;
      box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
      border-radius: 1em;
      background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    
    }

    @import "blogPost.css";



  }